body {
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 15px;
}

button {
    font-size: 1.5rem;
    height: 60px;
    margin: 5px;
}

button:focus {
    outline: none;
}

button.btn-warning {
    background-color: #f0ad4e;
}

button.btn-success {
    background-color: #5cb85c;
}

button.btn-secondary {
    background-color: #dcdcdc;
}
